# Data paths
METEO_DATA_PATH=/app/data/test_data22-24.csv
SOIL_DATA_PATH=/app/data/soil_data.csv
FICLIMA_DATA_PATH=/app/data/ficlima/sample_Lag3_160840.csv
INFILTRATION_DATA_PATH=/app/data/infiltration_model_data/synthetic_dashboard_input.csv

# Model paths
FLOODING_MODEL_PATH=/app/saved_model/flooding_model_components_new.pkl
IRIS_MODEL_PATH=/app/saved_model/iris_model_components.pkl
FICLIMA_MODEL_PATH=/app/saved_model/rf_model_Lag3_160840.joblib
INFILTRATION_MODEL_PATH=/app/saved_model/leuven_infiltration_model_complete1.pkl

# Dashboard configuration
HOMEPAGE_PORT = 8050 # homepage port
FLOODING_PORT=8060
CLASSIFICATION_PORT=8061
FICLIMA_PORT=8062
INFILTRATION_PORT=8063

# Environment setup
DASH_ENV=production
PYTHONPATH=/app
